#py -3.10 -m venv venv
#venv\Scripts\activate
#pip install -r requirements.txt

torch==2.1.2
torchaudio==2.1.2
transformers==4.38.2
huggingface-hub==0.20.3
numpy==1.23.5
scipy==1.10.1
librosa==0.10.1
sounddevice==0.4.6
pydub==0.25.1
TTS==0.22.0
datasets==2.16.1
accelerate==0.27.2