fastapi
uvicorn
motor>=3.0.0
pydantic-settings
bcrypt
pyjwt
python-multipart
requests
dnspython
pydantic[email]
pymongo>=4.0.0
certifi
numpy==1.26.4
librosa==0.10.2.post1
transformers==4.48.3
torch==2.6.0
